* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

* header {
    padding: 15px;
    text-align: center;
    background: darkblue;
    color: #fff;
    
}

nav {
    display: flex;
    background-color: lightcoral;
}

nav a {
    color: darkblue;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center justify;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: lightskyblue;
    padding: 50px;
    text-align: right;
}

footer {
    padding: 20px;
    text-align: center;
    background: darkblue;
    color: #fff;
}

.products {
    flex: 5;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 10px;
    flex: 0 0 400px;
}

.card1 {
    height: 50%;
    width: 25%;
}

.card header {
    padding: 15px;
}

.card p {
    text-align: center;
}

.card img {
    width: 100%;
}

@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}
